:root {
  --white: #fff;
  --primary: #61ecbc;
  --secundary: #ed8aca;
  --black: #182339;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url(../img/cyberBG.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Audiowide", sans-serif;
  font-size: 2rem;
}
.container {
  position: relative;
  max-width: 80rem;
  width: 95%;
  margin: 0 auto;
}
.title {
  font-size: 3.8rem;
  margin-top: 5rem;
  line-height: 0.8;
  color: var(--white);
}
.title span {
  color: var(--primary);
  display: block;
  font-size: 4.4rem;
}
.content {
  position: absolute;
  right: 40%;
  top: 13%;
  margin-top: 5rem;
  padding: 6rem 2rem;
  background: #ed8aca;
  background: linear-gradient(
    0deg,
    rgba(237, 138, 202, 1) 0%,
    rgba(97, 236, 188, 1) 100%
  );
  max-width: 50rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form legend {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
}
.form label {
  color: var(--black);
}
.form select {
  background-color: #ecebeb;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}
.form [type="submit"] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms ease;
  margin-top: 2rem;
}
.form [type="submit"]:hover {
  background-color: #0cb387;
}

.container-result h2 {
  text-align: center;
}

.result {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
}
.result img {
  width: 100%;
}
.result p {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}
.result span {
  font-weight: 700;
}
.btnSub {
  border-radius: 1rem;
}
